* {
    margin: 0;
    padding: 0;
    /* background-color: lightblue; */
}

.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 30px;
  
}

.menu button {
  width: 150px;
  height: 40px;
  font-size: large;
}

.app button {
  width: 150px;
  height: 40px;
  font-size: large;
  margin-left: 50px;
  margin-bottom: 50px;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: beige;
}

.black {
  background-color: olivedrab;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: brown;
}

.lost {
  height: 30vh;
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}